body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, blue, purple);
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(146, 226, 226);
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #006eff;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .task-text {
    flex: 1;
    color: #000000;
    font-size: 18px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #000000;
  }
  